# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Wails
/.task
/bin
/*.syso
/wails
/build/darwin
/build/ios
/build/linux
/build/windows
/build/icon.ico
/build/icons.icns

# misc
.DS_Store
*.pem
.vscode
.obsidian
**/.obsidian


# KMD
**/kmd_config.json*
**/sqlite_wallets
**/parquet_wallets

# Testing
**/.test*
*codecs.test*
*.test
