# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Wails
.task
bin
/*.syso
build/darwin/icons.icns
build/ios/icon.png
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
build/windows/icon.ico

# misc
.DS_Store
*.pem
.vscode
.obsidian
**/.obsidian


# KMD
**/kmd_config.json*
**/sqlite_wallets
**/parquet_wallets

# Testing
**/.test*
*codecs.test*
*.test
