# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Wails
/.task
/bin
/*.syso
/wails
/build/nfpm
/build/nsis
/build/icon.ico
/build/icons.icns
/build/info.json
/build/Info.plist
/build/Info.dev.plist

# misc
.DS_Store
*.pem
.vscode

# KMD
**/kmd_config.json*
**/sqlite_wallets

# Testing
**/.test*
*codecs.test*
